@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Light mode */
  --app-bg-color: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --bg-color: #fdfbfb;
  --bg-color-gradient: linear-gradient(160deg, #fdfbfb 0%, #ebedee 100%);
  --text-color: #111;
  --text-muted-color: #666;
  --border-color: #ccc;
  --hover-bg: rgba(80, 100, 255, 0.05);
  --panel-bg: rgb(231, 232, 248);

  /* Dark mode */
  --dark-app-bg-color: linear-gradient(135deg, #1f1f1f 0%, #121212 100%);
  --dark-bg-color-gradient: linear-gradient(135deg, #1f1f1f 0%, #121212 100%);
  --dark-bg-color: #1f1f1f;
  --dark-text-color: #eee;
  --dark-text-muted-color: #999;
  --dark-border-color: #555;
  --dark-hover-bg: rgba(80, 90, 130, 0.05);
  --dark-panel-bg: rgb(32, 33, 37);

  /* Fonts */
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: "PT Serif", Georgia, "Times New Roman", Times, serif;
  --font-sans: "PT Sans", Helvetica, Arial, sans-serif;
  --font-mono: "PT Mono", ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;

  /* Content font (can be changed by appearance settings) */
  --content-font: var(--font-serif);
}

body[data-theme="dark"] {
  --app-bg-color: var(--dark-app-bg-color);
  --bg-color: var(--dark-bg-color);
  --bg-color-gradient: var(--dark-bg-color-gradient);
  --text-color: var(--dark-text-color);
  --text-muted-color: var(--dark-text-muted-color);
  --border-color: var(--dark-border-color);
  --hover-bg: var(--dark-hover-bg);
  --panel-bg: var(--dark-panel-bg);
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    --app-bg-color: var(--dark-app-bg-color);
    --bg-color: var(--dark-bg-color);
    --bg-color-gradient: var(--dark-bg-color-gradient);
    --text-color: var(--dark-text-color);
    --text-muted-color: var(--dark-text-muted-color);
    --border-color: var(--dark-border-color);
    --hover-bg: var(--dark-hover-bg);
    --panel-bg: var(--dark-panel-bg);
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--app-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-system);
  font-size: 22px;
  line-height: 1.6;
}

#app {
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
