@font-face {
  font-family: "Newsreader";
  src: url("/static/fonts/newsreader/Newsreader-VariableFont_opsz,wght.ttf")
    format("truetype");

  font-weight: 1 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url("/static/fonts/newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");

  font-weight: 1 1000;
  font-style: italic;
  font-display: swap;
}

:root {
  /* Light mode */
  --app-bg-color: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --bg-color: #ebedee;
  --bg-color-gradient: linear-gradient(160deg, #fdfbfb 0%, #ebedee 100%);
  --text-color: #111;
  --text-muted-color: #666;
  --border-color: #ccc;
  --hover-bg: rgba(80, 100, 255, 0.05);
  --panel-bg: rgba(80, 100, 255, 0.1);

  /* Dark mode */
  --dark-app-bg-color: linear-gradient(135deg, #161616 0%, #060606 100%);
  --dark-bg-color-gradient: linear-gradient(135deg, #1f1f1f 0%, #121212 100%);
  --dark-bg-color: #1f1f1f;
  --dark-text-color: #eee;
  --dark-text-muted-color: #999;
  --dark-border-color: #555;
  --dark-hover-bg: rgba(80, 90, 130, 0.05);
  --dark-panel-bg: rgba(80, 90, 130, 0.1);

  /* Fonts */
  --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: "Newsreader", Georgia, "Times New Roman", Times, serif;
}

body[data-theme="dark"] {
  --app-bg-color: var(--dark-app-bg-color);
  --bg-color: var(--dark-bg-color);
  --bg-color-gradient: var(--dark-bg-color-gradient);
  --text-color: var(--dark-text-color);
  --text-muted-color: var(--dark-text-muted-color);
  --border-color: var(--dark-border-color);
  --hover-bg: var(--dark-hover-bg);
  --panel-bg: var(--dark-panel-bg);
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    --app-bg-color: var(--dark-app-bg-color);
    --bg-color: var(--dark-bg-color);
    --bg-color-gradient: var(--dark-bg-color-gradient);
    --text-color: var(--dark-text-color);
    --text-muted-color: var(--dark-text-muted-color);
    --border-color: var(--dark-border-color);
    --hover-bg: var(--dark-hover-bg);
    --panel-bg: var(--dark-panel-bg);
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--app-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-system);
  font-size: 22px;
  line-height: 1.6;
}

#app {
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
