@font-face {
  font-family: 'Newsreader';
  src: url('/static/fonts/newsreader/Newsreader-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 1 1000;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Newsreader';
  src: url('/static/fonts/newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 1 1000;
  font-style: italic;
  font-display: swap;
}

:root {
  --bg-color: #fff;
  --text-color: #111;
  --text-muted-color: #666;
  --border-color: #ccc;
  --hover-bg: rgba(0, 0, 0, 0.05);
  --panel-bg: #fff;
  
  --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: 'Newsreader', Georgia, "Times New Roman", Times, serif;
}

body[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #eee;
  --text-muted-color: #999;
  --border-color: #555;
  --hover-bg: rgba(255, 255, 255, 0.05);
  --panel-bg: #222;
}

body[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #111;
  --text-muted-color: #666;
  --border-color: #ccc;
  --hover-bg: rgba(0, 0, 0, 0.05);
  --panel-bg: #fff;
}

body[data-theme="auto"] {
  --bg-color: #fff;
  --text-color: #111;
  --text-muted-color: #666;
  --border-color: #ccc;
  --hover-bg: rgba(0, 0, 0, 0.05);
  --panel-bg: #fff;
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    --bg-color: #111;
    --text-color: #eee;
    --text-muted-color: #999;
    --border-color: #555;
    --hover-bg: rgba(255, 255, 255, 0.05);
    --panel-bg: #222;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  font-family: var(--font-system);
}

button,
input {
  font-family: inherit;
  font-weight: inherit;
}

h1 {
  font-size: 1.6em;
  margin: 1em 0 0.5em 0;
  font-weight: normal;
}